@import '~antd/dist/antd.css';

.ant-carousel .slick-slide {
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.App {
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  text-align: center;
  position: relative;
}

.scence {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.galleryCard {
  background-color: #222222;
  color: white;
  background-size: cover !important;
  -moz-background-size: 100% 100% !important;
}

.pagation {
  display: block;
  width: 60px;
  height: 40px;
  margin: 10px;
}

.cardCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.displayImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-color: red;
  -moz-background-size: 100% 100% !important;
  z-index: 10;
}

.bodyAnimate {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}